<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tablecraft</title>
	<link rel="stylesheet" href="style_template.css">
	<link rel="stylesheet" href="style.css">
	<script type="importmap">
		{
			"imports": {
				"vue": "./lib/vue.esm-browser.js",
				"exceljs": "./lib/exceljs.min.js"
			}
		}
	</script>
	<script type="module" src="main.js"></script>
</head>
<body>
	<header>
		<h1>
			<a href="/">▢</a>
			<a href="">Tablecraft</a>
		</h1>
	</header>

	<grid-rows id="app" gap="1rem" template="auto 1fr">
		<file-reader v-if="dataset === null" v-model:dataset_value="dataset"></file-reader>
		<flex-row v-if="dataset !== null" justify="space-between" align="center">
			<h2>{{ dataset.name }}</h2>
			<button @click="read_new_dataset">Open new dataset</button>
		</flex-row>

		<grid-cols v-if="dataset !== null" class="main-layout" gap="2rem" template="2fr 3fr">
			<controls-component @calc-table-event="calc_table" :var_list="dataset.var_list" :var_full_label="dataset.var_full_label" :var_type="dataset.var_type"></controls-component>

			<grid-rows class="output" gap="0.5rem" template="auto 1fr">
				<flex-col gap="0.5rem">
					<flex-row gap="0.5rem">
						<button @click="download" :disabled="calculating_table || table_data == null">Download</button>
						<button @click="reset_table" :disabled="table_data == null">Clear table</button>
					</flex-row>
					<div v-if="table_data !== null && table_data.filter_string !== ''">Filter: {{ table_data.filter_string }}</div>
					<flex-row v-if="calculating_table" gap="0.5rem" justify="space-between" align="center">
						<progress :value="progress" :max="100" style="flex: 1;"></progress>
						<span>{{ progress }}%</span>
					</flex-row>
				</flex-col>
				<div class="main-output" gap="1rem">
					<table v-if="table_data !== null" id="export_table">
						<tr v-for="(row, i) in table_data.col_header">
							<th v-for="(cell, j) in row" :title="cell" :class="[`col_header_${i + 1}`, table_data.col_header[0][j + 1] != '' ? 'new_var_border' : undefined]">{{ cell }}</th>
						</tr>
						<tr v-for="row in table_data.table">
							<td v-for="(cell, j) in row" :class="[cell.style, table_data.col_header[0][j + 1] != '' ? 'new_var_border' : undefined]" :title="j < 4 ? cell.value : undefined">{{ cell.value }}</td>
						</tr>
					</table>
				</div>
			</grid-rows>
		</grid-cols>
	</grid-rows>

</body>
</html>


<template id="generic-selector-template">
	<div>
		<h3>{{ title }}</h3>
		<div class="add">
			<slot></slot>
		</div>
		<select multiple v-model="selected" @keydown.delete="remove_selected_items">
			<option v-for="item in items" :key="item" @dblclick="remove_item(item)">{{ item }}</option>
		</select>
		<flex-col class="arrows">
			<button @click="move_up" :disabled="!can_move_up">△</button>
			<button @click="move_down" :disabled="!can_move_down">▽</button>
		</flex-col>
		<div class="reset">
			<button @click="reset">Reset</button>
		</div>
	</div>
</template>
