body {
	display: grid;
	grid-template-rows: auto 1fr;

	& header {
		background-color: var(--primary_700);
		padding: 1rem;

		& h1 {
			display: flex;
			gap: 0.5rem;

			& a {
				text-decoration: none;
				color: var(--bg_200);
				transition: color 0.3s ease;

				&:hover {
					color: var(--secondary_300);
				}
			}
		}
	}
}


.visibility_hidden {
	visibility: hidden;
}

#app {
	min-height: 0;

	padding: 1rem;

	& #paste_area {
/*		align-self: flex-start;*/
		resize: none;
	  	font-family: monospace;
		background-color: var(--bg_100);
		color: var(--primary_600);
		border: 1px solid var(--primary_500);
		border: 1px solid var(--bg_700);
		outline: 0;
		padding: 0.5rem;
		border-radius: 4px;
		font-size: 1rem;

		&:hover {
			border: 1px solid var(--secondary_300);
			border: 1px solid var(--primary_500);
		}

		&:focus {
			border: 1px solid var(--primary_500);
			outline: 1px solid var(--primary_500);
		}

		&.red_error::placeholder {
			color: red;
		}
	}

	& h2, h3 {
		margin: 0;
		font-weight: bold;
		color: var(--primary_400);
	}

	& .main-layout {
		min-height: 0;

		& .controls-grid {
			min-height: 0;

			& .variables-block {
				min-height: 0;
				height: 100%;

				& .variables-left {
					min-height: 0;

					& .variables-selector {
						min-height: 0;
						flex: 2;

						& .search-input-wrapper input {
							&::placeholder {
								text-align: right;
								filter: opacity(50%);
							}

							&:focus::placeholder { color: transparent; }
						}

						& select {
/*							flex: 1;*/
							overflow: auto;
						}
					}

					& .quick-preview {
						min-height: 0;
						flex: 1;

						& .preview-table-container {
							padding-left: 1ch;
							font-family: monospace;
							background-color: var(--bg_100);
							overflow: auto;

							& table {
								& .underline_row td {
									border-bottom: 1px dashed var(--primary_400);
								}

								& .data_row td {
									vertical-align: top;
								}

								& td {
									padding: 0 0.25rem;
								}

								& .al_right {
									text-align: right;
								}

								& .col_code, .col_percent, .col_count {
									text-align: right;
								}

								& .col_percent, .col_count {
									padding-left: 2ch;
								}
							}
						}
					}
				}


				& .variables-right {

					& .cols-selector, .rows-selector {
						display: grid;
						grid-template-rows: auto 1fr auto;
						grid-template-columns: auto 1fr auto;
						gap: 0.5rem;
						grid-template-areas:
							". a ."
							"b c d"
							". e .";

						& h3 {
							grid-area: a;
						}

						& .add {
							grid-area: b;


							& button {
								font-size: 20px;
							}
						}

						& select {
							grid-area: c;
							overflow: auto;
						}

						& .arrows {
							grid-area: d;
						}

						& .reset {
							grid-area: e;
						}
					}

					& .rows-selector {
						width: 80%;
					}
				}
			}

			& .calc-button {
				font-size: 18px;
			}
		}

		& .output {
			min-height: 0;
			background-color: var(--bg_100);
			border: 1px solid var(--primary_500);
			padding: 1rem;

			& .main-output {
				min-height: 0;
				overflow: auto;

				& table {
					background-color: var(--bg_50);
					border-collapse: collapse;
					font-size: 14px;
/*					table-layout: fixed;*/
/*					width: 100%;*/

					& tr {
						& td, & th {
							border: 1px solid var(--primary_100);
							padding: 2px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							text-align: right;
						}

						& th {
							background-color: #EFEFEC;
							font-weight: bold;
							text-align: left;
						}

						& td.header {
							background-color: #EFEFEC;
						}

						& td.header.bleak {
							background-color: #F9F9F6;
						}

						& td.bleak {
							color: var(--primary_200);
						}

						& td.p {
							background-color: lightgreen;
						}

						& td.n {
							background-color: lightcoral;
						}

						&:first-child th {
/*							resize: horizontal;*/
						}

						& td, & th {
							&:nth-child(1) { min-width: 5rem; max-width: 5rem }
							&:nth-child(2) { min-width: 2rem; max-width: 2rem }
							&:nth-child(3) { min-width: 10rem; max-width: 10rem }
							&:nth-child(4) { min-width: 4rem; max-width: 4rem }
							&:nth-child(n+5) { min-width: 5rem; max-width: 5rem }

							&:nth-child(1), &:nth-child(3), &:nth-child(4) {
								text-align: left;
							}

							&:nth-child(4) {border-right: 1px solid var(--primary_500);}

	/*						&:nth-child(3) th {border-bottom: 1px solid var(--primary_500);}*/
							&.col_header_3 {border-bottom: 1px solid var(--primary_500);}
							&.new_var_border {border-right: 1px solid var(--primary_500);}
						}

						&:first-child th { border-top: 1px solid var(--primary_500); }
						& th:first-child { border-left: 1px solid var(--primary_500); }
						& td:first-child { border-left: 1px solid var(--primary_500); }
						&:last-child td { border-bottom: 1px solid var(--primary_500); }
						& td:last-child { border-right: 1px solid var(--primary_500); }
						& th:last-child { border-right: 1px solid var(--primary_500); }
					}
				}
			}
		}
	}
}
