<!-- Template: ControlsComponent -->

<flex-col class="controls-grid" gap="1rem" justify="space-between">
	<grid-cols class="variables-block" gap="0.5rem" template="3fr 2fr">

		<flex-col class="variables-left" gap="1rem">
		<!-- <grid-rows class="variables-left" gap="1rem" template="2fr 1fr"> -->

			<grid-rows class="variables-selector" gap="0.5rem" template="auto 1fr auto">
			<!-- <flex-col class="variables-selector" gap="0.5rem"> -->
				<flex-row justify="space-between" align="center">
					<h3>Variables</h3>
					<flex-row class="search-input-wrapper" gap="2px">
						<input type="text" v-model="search_term" placeholder="🔎"></input>
						<button :class="{ visibility_hidden: !search_term }" @click="clear_search">⨉</button>
					</flex-row>
				</flex-row>
				<select multiple v-model="selected_variables" @keydown.enter="add_to_rows" @keydown.right.prevent="add_to_columns">
					<option v-for="(variable, index) in filtered_var_list" :key="variable" :value="variable" @dblclick="add_row(variable)">
						{{ var_full_label[variable] }}
					</option>
				</select>
				<button style="justify-self: start;" @click="clear_variables">Clear</button>
			<!-- </flex-col> -->
			</grid-rows>

			<quick-preview :variables="selected_variables" :filter_mask="filter_mask"></quick-preview>

		</flex-col>
		<!-- </grid-rows> -->

		<!-- <grid-rows class="variables-right" gap="1rem" template="1fr 3fr"> -->
		<flex-col class="variables-right" gap="1rem">

			<filter-component class="filter-selector" v-model:mask="filter_mask"></filter-component>

			<generic-selector ref="cols_selector" title="Columns" class="cols-selector" default_item="total" v-model:items="cols">
				<button @click="add_to_columns">></button>
			</generic-selector>

			<generic-selector ref="rows_selector" title="Rows" class="rows-selector" v-model:items="rows">
				<button @click="add_to_rows">></button>
			</generic-selector>

		</flex-col>
		<!-- </grid-rows> -->

	</grid-cols>

	<button class="calc-button" @click="calc_table" :disabled="rows.length == 0 || cols.length == 0">Calc</button>
</flex-col>
