/*FilterHelpComponent.css*/

& .filter-help-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	& .help-modal {
		background: var(--bg_900);
		color: var(--primary_100);
		padding: 1rem;
		border-radius: 8px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
		position: relative;

		& h3 {
			color: var(--primary_300);
		}

		& .text {
			margin-top: 0.75rem;
		}

		& .code {
			margin-top: 0.25rem;
			font-family: "Consolas";
			color: var(--bg_400);
			background: #191818;
			padding: 4px;
			border-radius: 4px;
		}

		& .close-btn {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			background: none;
			border: none;
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
}
