/*QuickPreview.css*/

#app {
	& .quick-preview {
		min-height: 0;

		&.visible {
			flex: 1;
		}

		& h3 {
			cursor: pointer;
			transition: text-shadow 0.2s ease;
			user-select: none;
			display: flex;
			align-items: center;

			& .icon {
				width: 1.15rem;
				line-height: 1;
				text-align: center;
				vertical-align: middle;
				transition: transform 0.2s ease;
				display: inline-block;
			}

			&:hover .icon:not(.open) { transform: scale(1.15); }
			& .icon.open { transform: rotate(90deg); }
			&:hover .icon.open { transform: rotate(90deg) scale(1.15); }

			&:hover {
				text-shadow: 0 0 1px currentcolor;
			}
		}

		& .preview-table-container {
			padding-left: 1ch;
			font-family: monospace;
			background-color: var(--bg_100);
			overflow: auto;

			& table {
				& .underline_row td {
					border-bottom: 1px dashed var(--primary_400);
				}

				& .data_row td {
					vertical-align: top;
				}

				& td {
					padding: 0 0.25rem;
				}

				& .al_right {
					text-align: right;
				}

				& .col_code, .col_percent, .col_count {
					text-align: right;
				}

				& .col_percent, .col_count {
					padding-left: 2ch;
				}
			}
		}
	}
}
